@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

header, section, footer {
	padding: 1em;
}

header {
	background-image: url(../img/background.jpg);
	background-size: cover;
	color: #FFFFFF;
}

header a:link, header a:visited {
	color: #CCCCCC;
	text-decoration: none;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

header a:hover, header a:focus {
	text-decoration: underline;
	color: #FFFFFF;
	background-color: #CC0000;
	padding
}

.tag-line {
	font-family: 'Gloria Hallelujah' 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 120%;
	color: #FCFCFC;
}

#about, #projects {
	background-color: #388B44;
}

#about img {
	max-height: 400px;
	float: left;
	margin-right: 1em;
	opacity: 0.7;
}

#about img:hover {
	opacity: 1;
}

#education {
	clear: both;
}

#education, #contact {
	background-color: #F3B133;
}

footer {
	background-color: #D82726;
}